@model  DD.Electricity.Cloud.Domain.Entities.Headquarter.Group
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Group Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndustryId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a>
    <a asp-action="Index">Back to List</a>
</div>