@model IEnumerable<DD.Electricity.Cloud.AuthServer.Models.DDAccount.DDIndexUserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Users</h1>
        </div>
        <div>
            <h2>
                <a class="btn btn-primary" asp-controller="DDAcount" asp-action="Create">增加新用户</a>
            </h2>
        </div>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>集团名称</th>
                    <th>项目名称</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItee => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItee => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItee => item.GroupName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">编辑</a>
                            <a asp-action="Details" asp-route-id="@item.Id">详情</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                        </td>

                    </tr>
                }

            </table>

        </div>
    </div>
</body>
</html>